.button{
    -fx-color-label-visible: gray;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-focus-traversable: false;
    -fx-background-image: url("resources/images/pressed.png");
}

.button img {
    width: 80px;
    height: 80px;
}
